<div class="container">
	<div class="jumbotron text-center" style="background-color:#262626" ng-controller="detailsCtrl">
	  <h1 style="color:#ffffff">{{ current.name }}</h1>
	  <a class="btn btn-primary btn-lg" href="#/">Back to search</a>
	</div>
	<div clas="table-responsive">
		<h2>Current weather:</h2>
		  <table class="table table-bordered">
			<thead>
			  <tr>
				<th>Latitude & longitude</th>
				<th>Sunrise:</th>
				<th>Sunset:</th>
				<th>Weather condition:</th>
				<th>Windspeed:</th>
				<th>Clouds:</th>
				<th>Rain within 3h:</th>
				<th>Snow within 3h:</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>lat: {{current.coord.lat}}, lon: {{current.coord.lon}}</td>  <!-- Prints data and applies filters where necessary -->
				<td>{{current.sys.sunrise*1000  | date:'short': '+0100'}}</td>
				<td>{{current.sys.sunset*1000 | date:'short': '+0100'}}</td>
				<td>{{current.weather[0].description}}</td>
				<td>{{current.wind.speed | degToCard}} Direction: {{current.wind.deg}}</td>
				<td>{{current.clouds.all}}</td>
				<td>{{forecast.list[1].rain['3h']}}</td>
				<td>{{forecast.list[1].snow['3h']}}</td>
			  </tr>
			</tbody>
		  </table>
		  <h3>24h forecast:</h3>
		  <table class="table table-bordered" ng-repeat="item in forecast.list"
			ng-if="item.dt*1000 >= forecastStart && item.dt*1000 <= forecastEnd"> <!-- Converts UNIX time-->
			<thead>
			  <tr>
				<th>Time:</th>
				<th>Temperature:</th>
				<th>Air pressure:</th>
				<th>Wind speed:</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>{{item.dt*1000 | date:'short': '+0100' }}</td>
				<td>{{item.main.temp}}</td>
				<td>{{item.main.pressure}}</td>
				<td>{{item.wind.speed}}</td>
			  </tr>
			</tbody>
		  </table>
	  </div>
	</div>
</div>
